<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>錄製朋友的聲音</string>
	<key>NSCameraUsageDescription</key>
	<string>和朋友一起拍照吧！</string>
</dict>
</plist>
